include ./partials/config.pug
include ./partials/mixins.pug
doctype html
html(lang="en")
  head
    title=talk_title
    meta(name="description" content=talk_description)
    meta(name="author" content=talk_author)
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', type='text/css', href='./main.css')
    link(rel='shortcut icon', href='./favicon.ico')
    <!--[if lt IE 9]>
      script(src='./js/html5shiv.js')
    <![endif]-->
  body
    .reveal
      .fixed.w-100
        .frn.justify-between.pa1
          a.fn.flex.fvc(href='https://www.algolia.com')
            img(src='./img/community.svg')
          a.f8.fn.flex.fvc.raleway.white
            |Nov 16th, 2016

      .slides.white

        include ./slides/title.pug
        include ./slides/numbers.pug

        include ./slides/cms.pug
        include ./slides/static.pug
        include ./slides/api-client.pug

        include ./slides/fastosphere.pug
        include ./slides/react-parts.pug

        include ./slides/commit-strip.pug
        include ./slides/api-food.pug
        include ./slides/clinton-trump.pug

        include ./slides/cities.pug
        include ./slides/steamdb.pug
        include ./slides/marvel.pug
        include ./slides/searchstone.pug

        include ./slides/awesome.pug
        include ./slides/docsearch.pug
        include ./slides/next.pug
        include ./slides/t-shirt.pug

        include ./slides/thank-you.pug

  script(src='./js/head.min.js')
  script(src='./js/reveal.js')
  script(src='./app.js')
  script require('javascripts/app').default.init()

