section

  a.link.white.frn.f6(href=`https://www.apifood.co`)
    img.db.h2(src='./img/apifood-logo.png')

  .h4.mt1.fcn.bg-black-80.br2.pa2
    .fa.frn.f7
      .fa.w-50.fcn
        +author('Nicolas Leroux', 'nico_lrx', 'fa b gold')
        .fa.fvc List of public APIs
        .fa.fvc 15k+ results
        .fa.fvc
          a.link.white.hack(href='https://apifood.co') apifood.co
      a.fa.w-50.fc(href='http://apifood.co/')
        img.db.br1.w4(src='./img/apifood.png')

