section
  +h3('API Clients')

  .h4.mt2.frn
    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa2.mr1
        +author('Vianney Lecroart', 'acemtp', 'fn b gold')
        .fa.fc.flex
          img.db.w4(src='./img/meteor.svg')
        +repo('acemtp/meteor-algolia', 'fn tc f8')

    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa2.ml1
        +author('Łukasz Lalik', 'k3nn7', 'fn')
        .fa.fc.flex
          img.db.bg-white-90.w3.pa1.br2.center(src='./img/erlang.svg')
        +repo('algoliasearch-client-erlang', 'fn tc f8')

  // div
  //   |Elixir
  //   |Gerard de Brieder, https://github.com/smeevil
  //   |Bart ten Brinke, https://github.com/barttenbrinke

