section
  +h3('Algolia Awesome')

  .h4.mt1.fcn.bg-black-80.br2.pa2
    .fa.frn.f7
      .fa.w-50.fcn
        .fa.fvc Curated list of 70+ links
        .fa.fvc Tools, demos, guides, blog posts, etc
        .fa.fvc PR welcome!
        .fa.fvc
          a.link.white.hack(href='https://algolia/awesome-algolia') algolia/awesome-algolia
      .fa.w-50.fc.pl2
        img.db.br1.h3(src='./img/awesome.png')




