section
  +h3('Gent & Paris')

  .h4.mt2.frn

    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa1.mr1
        +author('Haroen Viaene', 'haroenv', 'fn b gold')
        .fa.fc
          img.db.br2.h3(src='./img/gent.png')
        a.fn.i.link.tc.white.hack.f7(href='https://haroen.me/visit-gent/')
          |haroen.me/visit-gent/


    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa1
        +author('Hans Lemuet', 'spone', 'fn b gold')
        .fa.fc.flex
          img.db.w4.br2(src='./img/paris1.png')
        a.fn.i.link.tc.white.hack.f7(href='https://www.paris.fr/')
          |paris.fr


