section
  +h3('Clinton and Trump said...')

  .h4.mt1.fcn.bg-black-80.br2.pa2
    .fa.frn.f7
      .fa.w-50.fcn
        +author('Nicolas Leroux', 'nico_lrx', 'fa b gold')
        .fa.fvc Search in YouTube Caption
        .fa.fvc Link to exact part of video
        .fa.fvc
          a.link.white.hack(href='http://www.clintonandtrumpsaid.com/') www.clintonandtrumpsaid.com
      a.fa.w-50.fc.pl2(href='http://www.clintonandtrumpsaid.com/')
        img.db.br1(src='./img/clinton-trump-animated.gif')

section(data-background='./img/clintonandtrump_1.png', data-background-size='contain')
section(data-background='./img/clintonandtrump_2.png', data-background-size='contain')
section(data-background='./img/clintonandtrump_3.png', data-background-size='contain')
section(data-background='./img/clintonandtrump_4.png', data-background-size='contain')
section(data-background='./img/clintonandtrump_5.png', data-background-size='contain')

