section
  +h3('Chatbots')

  .h4.mt2.fcn.bg-black-80.br2.pa2
    .fa.frn
      .fa.w-66.fcn
        .fn.h2.frn
          +author('Thomas Guenoux', 'thomasgx', 'fn f7')
          a.fa.fc(href='http://www.commitstrip.com/')
            img.db(src='./img/commitstrip.png')
        .fa.frn
          a.fa.fc.fcn.link.white(href='https://cloud.google.com/vision/')
            img.db.br1.w2(src='./img/gcp.png')
            .tc.f8 Google OCR
          a.fa.fc.fcn.link.white(href='https://wit.ai/')
            img.db.br1.w2(src='./img/witai.png')
            .tc.f8 Wit.ai
          a.fa.fc.fcn.link.white(href='https://www.messenger.com/')
            img.db.br1.w2(src='./img/messenger.png')
            .tc.f8 Messenger
        
      .fn.w-33.fc
        img.db.br1.w3(src='./img/commitstrip-animated.gif')
    a.link.white.tc.fa.f8.hack(href='http://www.ohmybot.io/portfolio/commitstrip-bot/')
      |www.ohmybot.io/portfolio/commitstrip-bot/



