section
  a.link.white.frn.f6(href='https://community.algolia.com/docsearch/')
    img.db.h1(src='./img/docsearch.svg')

  .h4.mt1.fcn.bg-black-80.br2.pa1
    .fa.fcn
      .fa.frn.f7
        .fa.w-50.fcn
          +author('Maxime Locqueville', 'maxiloc', 'fa b blue f8')
          +author('Rémy-Christophe Schermesser', 'elpicador', 'fa b blue f8')
          .fa.fvc Crawl and index documentation
          .fa.fvc 200+ live websites
          .fa.fvc Free
          a.fn.link.white.hack.f8.tc(href='https://community.algolia.com/docsearch/') community.algolia.com/docsearch/

        .fa.w-50.pl2.fcn
          .fa.fc
            img.db.br1.h3(src='./img/docsearch-animated.gif')
          .fn.frw.lh-0
            .fn.w-20.fc.pa1
              img(src='./img/vuejs.png')
            .fn.w-20.fc.pa1
              img(src='./img/scala.png')
            .fn.w-20.fc.pa1
              img(src='./img/hexo.png')
            .fn.w-20.fc.pa1
              img(src='./img/eslint.png')
            .fn.w-20.fc.pa1
              img.bg-yellow.br2(src='./img/middleman.svg')
            .fn.w-20.fc.pa1
              img(src='./img/react.png')
            .fn.w-20.fc.pa1
              img(src='./img/webpack.png')
            .fn.w-20.fc.pa1
              img(src='./img/yarnjs.png')
            .fn.w-20.fc.pa1
              img(src='./img/docker.png')
            .fn.w-20.fc.pa1
              img(src='./img/babel.png')
