section
  a.link.white.frn.f6(href='https://community.algolia.com/docsearch/')
    img.db.h1(src='./img/docsearch.svg')

  .h4.mt1.fcn.bg-black-80.br2.pa1
    .fa.fcn
      .fa.frn.f7
        .fa.w-50.fcn
          +author('Maxime Locqueville', 'maxiloc', 'fa b blue f8')
          +author('Rémy-Christophe Schermesser', 'elpicador', 'fa b blue f8')
          .fa.fvc Crawl and index documentation
          .fa.fvc 200+ live websites
          .fa.fvc Free
          a.fn.link.white.hack.f8.tc(href='https://community.algolia.com/docsearch/') 
            |community.algolia.com/docsearch

        .fa.w-50.pl2.fcn
          a.fa.fc(href='https://community.algolia.com/docsearch/')
            img.db.br1.h3(src='./img/docsearch-animated.gif')
          .fn.frw.lh-0
            a.fn.w-20.fc.pa1(href='https://vuejs.org/')
              img(src='./img/vuejs.png')
            a.fn.w-20.fc.pa1(href='http://www.scala-lang.org/')
              img(src='./img/scala.png')
            a.fn.w-20.fc.pa1(href='https://hexo.io/')
              img(src='./img/hexo.png')
            a.fn.w-20.fc.pa1(href='http://eslint.org/')
              img(src='./img/eslint.png')
            a.fn.w-20.fc.pa1(href='https://middlemanapp.com/')
              img.bg-yellow.br2(src='./img/middleman.svg')
            a.fn.w-20.fc.pa1(href='https://facebook.github.io/react/')
              img(src='./img/react.png')
            a.fn.w-20.fc.pa1(href='https://webpack.js.org/')
              img(src='./img/webpack.png')
            a.fn.w-20.fc.pa1(href='https://yarnpkg.com/en/docs/')
              img(src='./img/yarnjs.png')
            a.fn.w-20.fc.pa1(href='https://docs.docker.com/')
              img(src='./img/docker.png')
            a.fn.w-20.fc.pa1(href='https://babeljs.io/')
              img(src='./img/babel.png')
