section

  .h4.mt2.frn
    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa2.mr1
        +author('Matthieu Bergel', 'mlbrgl', 'fn')
        .fa.fc.flex
          img.db.h3(src='./img/drupal.png')
        a.link.tc.white.fn.hack.f7(href='https://www.drupal.org/project/search_api_algolia') 
          |search_api_algolia

    .fa.w-50.fcn
      .fcn.bg-black-80.br2.pa2.ml1
        +author('Amol Jayashri', 'atpatil11', 'fn')
        img.fa.ma2.pa1.bg-white.br2(src='./img/joomla.png')
        .fn.f7.tc.i Coming soon
