section
  +h3('Elixir')

  .h4.mt2.fcn.bg-black-80.br2.pa2
    .fa.frn
      .fa.w-50.fcn
        +author('Gerard de Brieder', 'smeevil', 'fa')
        +author('Bart ten Brinke', 'barttenbrinke', 'fa')
        +author('Sikan He', 'sikanhe', 'fa')
        +author('Gianluca Bargelli', 'proudlygeek', 'fa b gold')
      .fa.w-50.fc
        img.db.bg-white-90.pa1.br2.w3(src='./img/elixir.png')
    .fn.i.tc Coming soon

