section
  +h3('Marvel Super-Search')

  .h4.mt1.fcn.bg-black-80.br2.pa2
    .fa.fcn
      .fa.frn.f7
        .fa.w-50.fcn
          +author('Tim Carry', 'pixelastic', 'fa b gold')
          .fa.fvc 1.5k+ characters
          .fa.fvc Data from Wikipedia/marvel.com
          .fa.fvc Cloudinary on images
        .fa.w-50.fc.pl2
          img.db.br1(src='./img/marvel-animated.gif')
      a.fn.tc.link.white.hack.f7(href='https://community.algolia.com/marvel-search/') 
        |community.algolia.com/marvel-search/
