section
  // +h3('Some numbers')

  .frn.h4
    .fa.f6.fcn
      .fa 65 employees
      .fa 2k+ paying customers
      .fa 10k+ free customers
      .fa 30B+ write operations
      .fa 15B+ user-generated queries
      .fa.pt3 378 answered StackOverflow questions
      .fa 6.5k GitHub issues solved
      .fa 500+ GitHub collaborators
    .fa.fc.flex
      img.w3(src='./img/community-logo.svg')
