section
  // +h3('Some numbers')

  .frn.h4.bg-black-80.pa1.br2
    .fa.f6.fcn
      .fa 
        .di.blue.b 65 
        .f7.di employees
      .fa
        .di.blue.b 2k+ 
        .f7.di paying customers
      .fa
        .di.blue.b 10k+ 
        .f7.di free customers
      .fa
        .di.blue.b 30B+ 
        .f7.di write operations
      .fa
        .di.blue.b 15B+ 
        .f7.di user-generated queries
      .fa.pt3
        .di.gold.b 378 
        .f7.di answered StackOverflow questions
      .fa
        .di.gold.b 6.5k 
        .f7.di GitHub issues solved
      .fa
        .di.gold.b 500+ 
        .f7.di GitHub collaborators
    a.fa.fc.flex(href='https://community.algolia.com/')
      img.w3(src='./img/community-logo.svg')
