section(data-background='./img/paris1.png', data-background-size='contain')
section(data-background='./img/paris2.png', data-background-size='contain')
section(data-background='./img/paris3.png', data-background-size='contain')
section(data-background='./img/paris4.png', data-background-size='contain')
