section
  +h3('CMS')

  .h4.mt2.frn
    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa2.mr1
        +author('dh42', 'dh42', 'fn')
        a.fa.fc.flex(href='https://www.prestashop.com/')
          img.db.w3.bg-white-90.pa1.br2(src='./img/prestashop.png')
        a.link.tc.white.fn.hack.f7(href='https://dh42.com/prestashop-modules/prestashop-algolia-module/') dh42.com

    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa2.ml1
        +author('Krystian Podemski', 'kpodemski', 'fn')
        a.fa.fc(href='https://community.algolia.com/places/')
          img.fa(src='./img/places.svg')
        +repo('kpodemski/phalgoliaplaces', 'fn tc')
