section
  a.link.white.frn.f6(href='http://searchstone.io/')
    img.db.h2(src='./img/searchstone.svg')

  .h4.mt1.fcn.bg-black-80.br2.pa2
    .fa.fcn
      .fa.frn.f7
        .fa.w-50.fcn
          +author('Kevin Granger', 'shipow', 'fa b blue')
          .fa.fvc ~1k cards
          .fa.fvc Highlight in images
          .fa.fvc Fully responsive
          a.fn.link.white.hack(href='http://searchstone.io/') 
            |searchstone.io
        .fa.w-50.fc.pl2
          img.db.br1.h4(src='./img/searchstone-animated.gif')

