section
  +h3('Static website generators')

  .h4.mt2.frn

    .fa.w-33.fcn
      .fa.fcn.bg-black-80.br2.pa1.mr1
        +author('Louis Barranqueiro', 'LouisBarranqueiro', 'fn f8 gold b')
        .fa.fc.flex
          img.db.h3(src='./img/hexo.png')
        +repo('hexo-algoliasearch', 'fn tc f8')

    .fa.w-33.fcn
      .fa.fcn.bg-black-80.br2.pa1.mr1
        +author('François de Metz', 'francois2metz', 'fn f8')
        .fa.fc.flex
          img.db.h3.br2(src='./img/nanoc.png')
        +repo('nanoc-algolia', 'fn tc f8')

    .fa.w-33.fcn
      .fa.fcn.bg-black-80.br2.pa1
        +author('Matthieu Bergel', 'mlbrgl', 'fn f8')
        .fa.fc.flex
          img.db.h3(src='./img/kirby.png')
        +repo('kirby-algolia', 'fn tc f8')
