section
  +h3('Static website generators')

  .h4.mt2.frn

    .fa.w-33.fcn
      .fa.fcn.bg-black-80.br2.pa1.mr1
        +author('Louis Barranqueiro', 'LouisBarranqueiro', 'fn f8 gold b')
        a.fa.fc.flex(href='https://hexo.io/')
          img.db.h3(src='./img/hexo.png')
        a.link.tc.white.fn.hack.f8(href='https://github.com/louisbarranqueiro/hexo-algoliasearch') 
          |hexo-algoliasearch

    .fa.w-33.fcn
      .fa.fcn.bg-black-80.br2.pa1.mr1
        +author('François de Metz', 'francois2metz', 'fn f8')
        a.fa.fc.flex(href='https://nanoc.ws/')
          img.db.h3.br2(src='./img/nanoc.png')
        a.link.tc.white.fn.hack.f8(href='https://github.com/stormz/nanoc-algolia') 
          |nanoc-algolia

    .fa.w-33.fcn
      .fa.fcn.bg-black-80.br2.pa1
        +author('Matthieu Bergel', 'mlbrgl', 'fn f8 b gold')
        a.fa.fc.flex(href='https://getkirby.com/')
          img.db.h3(src='./img/kirby.png')
        a.link.tc.white.fn.hack.f8(href='https://github.com/mlbrgl/kirby-algolia') 
          |kirby-algolia
