section

  .h4.mt2.frn

    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa1.mr1
        +author('Algolia', 'algolia', 'fn b blue')
        a.fa.fc.flex(href='https://middlemanapp.com/')
          img.db.h3.br2.bg-yellow(src='./img/middleman.svg')
        .fn.f7.tc.i Coming soon

    .fa.w-50.fcn
      .fa.fcn.bg-black-80.br2.pa1
        +author('You?', 'you', 'fn')
        a.fa.fc.flex(href='https://gohugo.io/')
          img.db.h3(src='./img/hugo.png')
        .fn.f7.tc.i Coming soon?
