section
  +h3('SteamDB')

  .h4.mt1.fcn.bg-black-80.br2.pa2
    .fa.frn.f7
      .fa.w-50.fcn
        +author('Pavel Djundik', 'xpaw', 'fa')
        .fa.fvc Search in 10k+ Steam games
        .fa.fvc Search into facet values
        .fa.fvc
          a.link.white.hack(href='https://steamdb.info/instantsearch/') steamdb.info
      a.fa.w-50.fc.pl2(href='https://steamdb.info/instantsearch/')
        img.db.br1(src='./img/steamdb-animated.gif')



