section

  .h4.mt2.fcn.bg-black-80.br2.pa2
    .fa.frn
      .fa.w-50.fcn
        a.link.white.frn.f6(href=`https://www.talkus.io`)
          .fn.fc
            img.db.h1(src='./img/talkus.png')
          .fa.flex.fvc.pl1.raleway Talkus.io

        +author('Vianney Lecroart', 'acemtp', 'mt3 b gold f7')
        +author('François Lecroart', 'peernohell', 'mt2 b gold f7')
      .fa.w-50.fc
        img.db.br1.h4(src='./img/talkus-animated.gif')



