section(data-background='./img/pioneers.png', data-background-size='contain')
  .h4.fcn.mt4
    .fa
    .fn.raleway.text-shadow.f3.bg-black-80.pa2.br2
      |Thank 
      .di.b.gold you 
      | for being 
      .di.b.blue awesome
