section
  // +h1('Community Event')

  .w4.pa2.center
    img(src='./img/pioneers.png')

  .fcn.f7.ml5
    .fa.frn
      .fn.w3.tr Wifi:
      .fn.pl2 algolia_guest
    .fa.frn
      .fn.w3.tr Password:
      .fn.hack.pl2 realtime
  



